
<!DOCTYPE html>
<html>

<head>
	<!-- CSS -->
	<link rel='stylesheet' href='style/style.css'>
	<link rel='stylesheet' href='style/instruct.css'>

	<!-- JavaScript -->
	<% include ../partials/head %>
</head>

<body>
	<div id='main-box'>

	<!-- Instruction Box -->
	<div id='instr-box'>
		Please Wait!
	</div>

	<!-- Preview Box -->
	<div id='preview-box'>
		<p>You have passed the practice rounds.</p>
		<p>You will be paid for your time so long as you do not close this tab.</p>
		<p style='color:red;'>If you are selected to do the testing rounds, you will receive a bonus for very high accuracy (few mistakes).</p>
		<p>We will send you an alert when the task is ready.</p>
	</div>

	</div>
</body>

</html>
